body {
  background-color: darkcyan;
  background-image: url('ppaper.jpg');
  background-repeat: repeat;
  background-blend-mode: multiply;
}

div {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 10px 0 5px -2px rgba(0, 0, 0, 0.5);
  background-color: #89CFF0;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom right, #89CFF0, #FFC089);
}

.segundo {
  display: block;
  margin-top: 300px;
}

.cita {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 10px 0 5px -2px rgba(0, 0, 0, 0.5);
  background-color: #89CFF0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 45%;
}

input[type="checkbox"] {
  display: block;
  margin: auto;
}

h1, h2 {
  color: white;
  text-align: center;
}

input[type="submit"] {
  border-radius: 5px;
}

.volver-btn {
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
}

hr {
  border-top: 2px solid black;
  border-radius: 5px;
}

table {
  margin: 0 auto;
  text-align: center;
}

#submit-btn {
  display: block;
  margin: 0 auto;
}
