body {
    background-color: darkcyan;
    background-image: url('ppaper.jpg');
    background-repeat: repeat;
    background-blend-mode: multiply;
  }

div.aizqui {
    position: absolute;
    top: 200px;
    left: 180px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px;
    bottom: 50px;
    max-height: 30%;
    background-image: linear-gradient(to bottom, #89CFF0, #9EAFF0);
  }

div.derecha {
    position: absolute;
    top: 15px;
    right: 1%;
    left: 50%;
    height: 90%;
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px;
    background-image: linear-gradient(to right, #89CFF0, #B189F0);
  }
  
  .volver-btn {
    position: absolute;
    bottom: 0;
    margin-bottom: 20px;
}