body {
    background-color: darkcyan;
    background-image: url('ppaper.jpg');
    background-repeat: repeat;
    background-blend-mode: multiply;
  }


button[type="submit"] {
    display: flex;
    justify-content: center;
}

.izquierda {
    float: left;
    margin: 0 auto;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 10px 0 5px -2px rgba(0, 0, 0, 0.5);
    background-image: linear-gradient(to right, #89CFF0, #A166B8);
  }  

.medio {
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 10px 0 5px -2px rgba(0, 0, 0, 0.5);
    background-image: linear-gradient(to bottom, #89CFF0, #F089B4);
  }
  

  .derecha {
    float: right;
    margin-left: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 10px 0 5px -2px rgba(0, 0, 0, 0.5);
    background-image: linear-gradient(to left, #89CFF0, #9469C9);
  }
  
  

.volver-btn {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}

/*
div {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 10px 0 5px -2px rgba(0, 0, 0, 0.5);
    background-color: #89CFF0;
    justify-content: center;
    align-items: center;
  }
*/